@model CINE_PRIME.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
}
<h2>Iniciar sesión</h2>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Correo Electrónico</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Contraseña</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Recuerdame</label>
    </div>
    <button type="submit">Ingresar</button>
</form>


<p>
    ¿No tienes cuenta?
    <a asp-controller="Account" asp-action="Register">Regístrate aquí</a>
</p>

<!-- Botón Volver Atrás -->
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-2">Volver</a>
